.box-route-mid{

    height: 650px;
    width: 1000px;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/img-cliente/mid.jpg');
    background-position: center;
    text-align: center;
    
}

.box-route-mid .title-players-mid{
    
    font-size: 50px;
    color: white;
    text-shadow: blueviolet 4px 1px;
    
}

.box-sel-options-mid{
    
    height: 540px;
    border-left: 2px solid blueviolet;
    border-right: 2px solid blueviolet;
    border-bottom: 2px solid blueviolet;

}

.box-route-mid select{

    width: 1000px;
    height: 30px;
    margin-top: 10px;

    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    outline: 2px solid blueviolet;

    color: white;
    font-size: 20px;
    padding-left: 39% !important;
    width: 100%;

}

.box-route-mid select option{

    background: rgb(99, 67, 129);

}

.box-route-mid .option-jogadores:hover{

    background: rgb(143, 24, 255);

}

