@font-face {
	font-family: Bold;
	src: url(../Font/Beaufort\ W01\ Bold.ttf)
}

body{

    background-image: url('../img/img-cadastro/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;

}

.container-respiro-cadastro{

    max-width: 80%;
    margin: 50px 10%;

}

.box-cadastro{

    height: 700px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 20px 23px 40px 8px rgba(14, 135, 235, 0.4);
    /* box-shadow: 20px 23px 40px 8px rgba(231, 255, 94, 0.4); */
    border: 1px solid blue;
    border-radius: 30px;

}

.container-respiro-fields{

    max-width: 80%;
    margin: 0 auto;

}

.title-cadastro{

    font-size: 30px;
    text-align: center;
    color: rgba(2, 43, 228, 0.8);
    text-transform: uppercase;
    font-family: Bold;
    padding-top: 50px;

}

.field-bottom{

    margin-top: 50px;
    align-items: center;
    font-size: 20px;
    /* text-align: center; */
    float: left;

}

.box-cadastro img{

    height: 120px;
    float: left;
    cursor: pointer;
    margin-top: 30px;

}

.box-cadastro img:hover{

    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    box-shadow: 5px 2px 15px 2px rgba(2, 43, 228, 0.5);

}

.box-cadastro .box-change-routes {

    margin-top: 70px;
    float: right;
    margin-right: 50px;

}

.box-change-routes .title-change-routes{

    width: 100%;
    height: 20px;
    color: rgba(0, 14, 87, 0.8);
    font-size: 20px;

}

.field{

    padding: 20px 0;
    color: rgba(0, 14, 87, 0.8);

}

.input{

    outline: none;
    border: none ;
    border-bottom: 2px solid rgba(2, 43, 228, 0.8);
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 20px;
    margin-top: 10px;
    width: 250px;
    height: 25px;

}

.input:focus{

    border-bottom: 4px solid rgba(2, 43, 228, 0.8);
    width: 270px;
    height: 25px;

}

.button-cadastro{

    height: 40px;
    width: 150px;
    font-size: 17px;
    margin-top: 20px;
    background-color: rgba(2, 43, 228, 0.6);
    color: white;
    border-radius: 20px;
    box-shadow: 0 9px rgba(2, 43, 228, 0.2);

}

.button-cadastro:hover{

    box-shadow: 0 5px rgba(2, 43, 228, 0.4);

}

.button-cadastro:active{

    background-color: rgba(2, 43, 228, 0.7);;
    box-shadow: 0 5px rgba(2, 43, 228, 0.4);
    transform: translateY(4px);

}