@font-face {
	font-family: Bold;
	src: url(../Font/Beaufort\ W01\ Bold.ttf)
}

body{

    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/img-home/texture-rote.jpg);
    background-size: cover;

}

.box-navbar{

    width: 100%;
    height: 80px;
    padding-top: 30px;
    margin: auto;
    overflow: hidden;
    background: rgba(14, 135, 235, 0.4);

}

.container-respiro {

    max-width: 90%;
    height: 100%;
    margin: 0 auto;

  }

.container-respiro img{

    height: 60px;
    float: left;

}

.navbar {

    float: right;
    list-style: none;
    align-items: center;

  }
  
.navbar li {

    display: inline-block;

}
  
.navbar li a {

    text-decoration: none;
    padding: 5px 20px;
    font-family: Bold;
    font-size: 20px;

}

.n-choose{

    color: #fffbd4;
    
}

.choose{

    border-bottom: 5px solid rgba(2, 43, 228, 0.9);
    color: cornflowerblue;

}

.navbar li a:hover{

    color: cornflowerblue;
    border-bottom: 5px solid rgba(2, 43, 228, 0.9);
    transition: 0.5s;

}

.box-banner{

    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/img-home/lol.jpg") no-repeat;
    /* box-shadow: 20px 20px 20px black; */
    border-radius: 10px;
    width: 100%;
    min-height: 600px;
    margin-top: 20px;
    background-position: center;
    position: relative;

    text-align: center;

}

.box-centralizar{

    width: 545px;
    margin-top: 150px;
    margin-left: 100px;
    font-family: Bold;
    color: #fffbd4;
    position: absolute;

}

.box-centralizar-top{

    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;

}


.box-centralizar-bottom{

    font-size: 20px;
    text-align: justify;

}

.box-centralizar button{

    width: 150px;
    height: 50px;
    margin-top: 40px;
    background-color: rgb(85, 113, 240);
    color: #fffbd4;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 2px black;

}

.box-cards{

    height: 500px;
    width: 100%;
    margin-top: 50px;
    display: inline-block;

}

.card{

    width: 300px;
    height: 400px;
    background-color: rgba(2, 43, 228, 0.4);
    text-align: center;
    border-radius: 100px;
    float: left;
    margin-left: 50px;

}

.card .card-img{

    display: inline-block;
    margin-top: 50px;

}

.card .card-text{

    font-size: 20px;
    color: #fffbd4;
    margin-top: 50px;

}

.card .img-card1{

    height: 120px;
    border-radius: 100px;

}
